<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myfunctionsalek.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/754e393f-b856-40d2-afd6-6e9fe65f45da/resourceGroups/Functions/providers/Microsoft.Web/sites/MyFunctionsAlek</ResourceId>
    <UserName>$MyFunctionsAlek</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://myfunctionsalek.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>